---
import BaseLayout from '@/layouts/BaseLayout.astro';
import TestComponent from '@/components/TestComponent.svelte';
---

<BaseLayout title="Test Page">


  <p>
    Hello from Astro
  </p>

  <TestComponent client:visible />

  <script slot="page-script">
    alert('Hello from Page Script Slot!');
  </script>

</BaseLayout>

<style lang='scss'>
  body{
    h1{
      color:orange;
    }
  }
</style>

